body {
    background: #F1F6FF;
    color: #2E364A;
    font-weight: 400;
}

.table tbody {
    font-weight: 400;
}

/* --Reset-- */

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

input:focus {
    outline: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1165px;
    }
}


/* --Header-- */

.navbar {
    padding: 15px 0;
    box-shadow: 0;
    padding-left: 5px;
    margin-left: 46px;
    box-shadow: none;
}

.navbar-brand {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #2E364A;
}

.bell {
    font-size: 16px;
    color: #333333;
}

.badge {
    background: #0068FC;
}


.container-fluid {
    display: block !important;
}

.navbar-top {
    padding-right: 22px;
}

.welcome {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.navbar-bottom {
    margin-top: 17px;
}

.btn-primary {
    background: #0068FC;
    padding: 12px 22px;
    text-transform: unset;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: none;
}

.list-group-item.now path,
.list-group-item.now rect,
.list-group-item.now circle {
    fill: #0068FC;
}

/* --Sidebar-- */

.sidebar-fixed {
    height: 100vh;
    width: 44px;
    z-index: 10;
    background: white;
    padding-top: 21px;
    text-align: center;
}

.sidebar-fixed .list-group-item {
    border: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-fixed .logo-wrapper {
    margin-bottom: 50px;
    display: block;
}

/* --Content-- */

.content {
    padding-top: 171px;
    padding-bottom: 70px;
}

.updated {
    text-align: right;
    color: #2D3C64;
    font-weight: 500;
    font-size: 10px;
    opacity: 0.3;
    line-height: 12px;
    margin-bottom: 20px;
}

/* --Clients-- */

.clients__search-btn {
    background: none;
    border: none;
}

.clients .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.card-title {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 0;
}

.card-title_small {
    font-size: 12px;
    line-height: 14px;
}

.clients__add-client {
    margin-left: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.8;
    color: #0068FC;
}

.clients__add-client span {
    margin-left: 9px;
}

.card-header {
    padding: 15px;
    border: 0;
    background: #FFFDFF;
    border-radius: 3px 3px 0 0 !important;
}

.clients .card-header {
    padding: 21px 15px;
}

.card {
    box-shadow: -4px -4px 10px rgba(46, 54, 74, 0.07), 4px 4px 10px rgba(46, 54, 74, 0.07);
}

.card-body {
    padding-left: 15px;
    padding-right: 15px;
}

.clients__table>:not(caption)>*>* {
    padding: 0;
}

.clients__table thead th {
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 14px;
}


.clients__table thead svg {
    margin-left: 3px;
}

.clients__table thead th:first-child {
    padding-left: 15px;
    width: 240px;
}

.clients__table thead th:nth-child(2) {
    width: 104px;
}

.clients__table thead th:nth-child(3) {
    width: 90px;
    text-align: right;
}

.clients__table thead th:nth-child(4) {
    width: 101px;
    text-align: right;
}

.clients__table thead th:nth-child(5) {
    text-align: right;
}

.clients__table thead th:nth-child(6) {
    text-align: right;
    width: 88px;
}

.table th {
    font-weight: 400;
}


.clients__table tr:hover td {
    background: #ebebeb;
}


.clients__table thead th:last-child {
    padding-right: 15px;
}

.clients__table tbody td:nth-child(n+1) {
    text-align: right;
}


.clients__table tbody td:first-child {
    padding-left: 15px;
    font-weight: 500;
    text-align: left;
}


.clients__table tbody td:last-child {
    padding-right: 15px;
}



.clients__table tbody td {
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 9px;
    line-height: 1;
}

.clients__table tbody tr:last-child td {
    padding-bottom: 14px;
}

.clients__table tbody {
    background: #F8F9FA;
}

.clients__table {
    margin: 0 -15px;
    width: calc(100% + 30px);
}

.clients__table .badge {
    font-size: 12px;
    font-weight: 400;

}

.clients__table td:nth-child(2) .badge {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;

}

.clients__table .badge.bg-success {
    background: #CBF4EB !important;
    color: #11CDA9;
}

.clients__table .badge.bg-danger {
    color: #D13849;
    background: #FACFCF !important;
}

.clients__table td:nth-child(2) .badge.bg-danger {
    padding: 1px;

}

.clients__table td:nth-child(4) .badge {
    padding: 2px 11px;
}

.clients__table .text-danger {
    color: #D13849 !important;
}

.clients__table .text-success {
    color: #11CDA9 !important;
}

.clients__table a {
    color: #FECF76;
    position: relative;
}

.tooltip>.tooltip-inner {

    padding: 5px 7px;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    color: #2E364A;
    border-radius: 100px;
    box-shadow: 0px 2px 10px rgba(46, 54, 74, 0.07);
    position: absolute;
    bottom: 0 !important;
    left: 0px !important;
    width: 56px;
    min-height: 20px !important;

}


/* --Assets-- */

.card-number {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.assets__chart {
    margin-top: 8px;
}

.rating-up {
    font-size: 14px;
    line-height: 16px;
    color: #11CDA9;
}

.rating-up svg {
    margin-left: 2.5px;
}

.row_2 {
    margin-top: 20px;
}

/* --Signals-- */

.signals__sort-btn {
    background: 0;
    border: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2E364A;
}

.signals__sort-btn svg {
    margin-left: 8px;
}

.signals__sort-btn:after {
    display: none;
}

.nav-tabs .nav-link {
    padding: 7px 18px;
    color: #000000;
    line-height: 14px;
    background: #F1F3FB;
    border: 1px solid #F0F0F0;
    line-height: 14px;
    text-transform: unset;
}


.nav-tabs .nav-item:first-child a {
    border-radius: 3px 0 0 3px;
}

.nav-tabs .nav-item:last-child a {
    border-radius: 0 3px 3px 0;
}

.signals__tabs {
    margin-left: 25px;
}

.nav-tabs .nav-link.active {
    border: 1px solid #F0F0F0;
    color: #000000;
    background: white;
}

.long-search {
    width: 100%;
}

.long-search input {
    height: 35px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px !important;
    border: 2px solid #F4F4F6 !important;
    padding-left: 36px !important;
}

.long-search {
    margin-top: 15px;
    position: relative;
}

.search-icon {
    position: absolute;
    top: 11px;
    left: 16px;
}

.signals__date {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #9F9F9F;
    margin-top: 15px;
}


.signals .card-header,
.notify .card-header {
    padding-top: 13px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 20px rgba(46, 54, 74, 0.07);
}

.signal__date,
.notification__date {
    color: #2D3C64;
    opacity: 0.3;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.signal__date svg,
.notification__date svg {
    margin-right: 5px;
}

.badge.bg-danger {
    color: #D13849;
    background: #FACFCF !important;
    font-size: 12px;
    line-height: 14px;
}

.signal .badge {
    border-radius: 0;
    padding: 2px 15px;

}

.signals .card-body {
    padding-top: 26px;
}

.signal__content {
    margin-top: 15px;
}

.signal__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.signal__text {
    font-size: 12px;
    line-height: 14px;
}

.author,
.signal__note,
.notification__note {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #2D3C64;
    opacity: 0.3;
}



.author svg {
    margin-right: 5px;
}

.signal__note svg,
.notification__note svg {
    margin-right: 8px;
}

.signal__footer {
    margin-top: 30px;
}

.signal__bottom {
    margin-top: 10px;
}

.open-potfolio {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0068FC;
}

.already-read {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #2E364A;
    opacity: 0.7;
    margin-right: 10px;
}

.notify .long-search {
    margin-top: 20px;
}

.notify .card-body {
    padding-top: 30px;
}

.notification__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

.notification__content {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
}

.notification .text-success {
    color: #11CDA9 !important;
}

.notification__footer {
    margin-top: 15px;
}

.notification__note {
    margin-top: 13px;
}

.notification {
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px;
}

.notification:last-child {
    margin-bottom: 0;
}


.notification:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 30px);
    height: 2px;
    background: #F4F4F6;
    left: -15px;
    bottom: 0;
}

.notification:last-child {
    padding-bottom: 0;
}

.notification:last-child:after {
    display: none;
}

.notification .badge.bg-light {
    background: #DDE1ED !important;
    border-radius: 2px;
    color: #2E364A;

    opacity: 0.9;
    font-size: 12px;
    line-height: 14px;
}


.search__field {
    border: 1px solid #F4F4F6;
    border-radius: 2px;
    height: 24px;
    font-size: 12px;
    line-height: 14px;
    width: 177px;
    padding-left: 24px;
    display: none;
}

.short-search {
    position: relative;
    height: 27px;
    width: 16px
}

.clients__search-btn {
    position: absolute;
}

.short-search.open .search__field {
    display: block;
}

.card .dropdown-menu {
    width: 100px;
    min-width: 0;
}

/* --Modals-- */

.modal-content {
    border-radius: 0;
}

.modal {
    z-index: 111100;
}

.modal-dialog {
    max-width: none;
    width: 463px;
}

.modal-header {
    padding: 20px 15px 0;
    display: block;
    border: 0;
}

.modal__dropdown {
    margin-right: 56px;
}

.modal__tabs {
    margin-top: 32px;
}

.modal__tabs .nav-link {
    padding: 7px 49px;
}

.modals-notify__date {
    margin-top: 11px;
}

.modal-body {
    padding: 12px 0 0 0;
}

.modal .signal {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.modal .signal:first-child {
    background: #FFFCF7;
}

.modal-content {
    position: relative;
}

.close-this {
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
}

/* --Quiz-- */

.quiz-steps {
    margin-top: 30px;
}

.quiz-steps__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 43px;
}

.quiz-steps__item:last-child {
    margin-bottom: 0;
}

.quiz-steps__item.active {
    color: #3285D2;
}


.quiz-steps__item.active .quiz-steps__icon {
    color: white;
    background: #3285D2;
}

.quiz-steps__icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #DDE1ED;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
}

.quiz-steps__icon:after {
    content: "";
    display: block;
    width: 1px;
    height: 43px;
    background: #DDE1ED;
    position: absolute;
    top: 100%;
    left: calc(50% - 0.5px);
}

.quiz-steps__item:last-child .quiz-steps__icon:after {
    display: none;
}

.quiz__card .card-header {
    padding: 30px;
    border-bottom: 2px solid #F4F4F6;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #0068FC;
}

.quiz__card .card-header svg {
    margin-right: 15px;
}

.quiz__card .card-body {
    padding: 26px 38px 26px 30px;
}

.quiz__main {
    width: 455px;
}


.quiz__card_1 .quiz__right {
    margin-left: 20px;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
}

.choice label {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
}

.radio-block {
    border: 2px solid #F4F4F6;
    border-radius: 3px;
    margin-bottom: 20px;
}

.radio-block__header {
    padding: 18px 20px 15px 20px;
}

.radio-block__hidden {
    padding: 29px 20px;
    border-top: 2px solid #F4F4F6;
}

.quiz__card .dropdown-menu {
    width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select>.dropdown-toggle:after {
    display: none;
}

.quiz__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.quiz__text {
    width: 330px;
    font-size: 12px;
    line-height: 150%;
}

.bootstrap-select .btn-light {
    background: none;
    box-shadow: none;
    border: 2px solid #F4F4F6;
    padding: 8px 15px;
    font-size: 12px;
    line-height: 14px;
    text-transform: unset;
    position: relative;
}

.bootstrap-select .btn-light:focus {
    border-color: #3285D2;
    outline: 0 !important;
    box-shadow: none;
}

.bootstrap-select .btn-light.show {
    border-color: #3285D2;
}

.bootstrap-select .btn-light:after {
    content: "";
    width: 8.5px;
    height: 4.5px;
    display: block;
    background: url('../img/arrow-down.png');
    background-size: cover;
    border: 0;
}

.bootstrap-select .btn-light:before {
    content: '';
    display: block;
    height: 17px;
    width: 1px;
    background: #F4F4F6;
    position: absolute;
    right: 37px;
    top: 6px;
}

.bootstrap-select .dropdown-menu.inner {
    padding-top: 5px;
    padding-bottom: 9px;
}

.dropdown-menu>li:first-child,
.dropdown-menu>li:first-child .dropdown-item {
    border-radius: 0;
}

.bootstrap-select .dropdown-item {
    padding: 5px 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.bootstrap-select .dropdown-item:hover {
    background: #DAE9FE;
}

.bootstrap-select .dropdown-item.active.selected {
    background: #DAE9FE;
}

.radio-block__hidden {
    display: none;
}

.radio-block__hidden.active {
    display: block;
}

.field-row label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

label {
    cursor: pointer;
}

.field-row {
    margin-bottom: 15px;
}

.field-row:last-child {
    margin-bottom: 0;
}

.field,
.selectize-input {
    border-radius: 3px;
    border: 2px solid #F4F4F6;
    width: 100%;
    height: 35px !important;
    padding: 0 15px !important;
    font-size: 12px;
    line-height: 14px;
    color: #2E364A;
}



.quiz__toggler {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: calc(100% - 46px);
    right: 0;
    background: #FFFFFF;
    padding: 15px 30px;
}

.quiz__next {
    width: 135px;
    height: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    background: #EAE8EA;
    border-radius: 3px;
    box-shadow: none;
    color: rgba(46, 54, 74, 0.5);
}

.quiz__next.active {
    background: #0068FC;
    color: white;
}


.radio__row input {
    margin-right: 10px;
}

.radio__row {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
}

.radio__row:last-of-type {
    margin-bottom: 0;
}

.quiz__heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;

}

.radio__row_ml {
    margin-left: 27px;
}

.type-portfolio {
    margin-top: 60px;
}

.quiz__caption {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

.quiz__card_2 .card-body {
    padding-top: 16px;
    padding-left: 33px;
    padding-bottom: 106px;
}

.quiz__title_big {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 16px;
}

p.quiz__title {
    margin-bottom: 0;
}

.quiz__text_gray {
    opacity: 0.7;
}

.quiz__card_2 .quiz__text {
    width: 288px;
}

.quiz__card_2 .quiz__right {
    padding-top: 10px;
}

.quiz__title_2 {
    margin-top: 30px;
}

.quiz__prev-btn {
    border: 0;
    background: none;
    margin-right: 30px;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0068FC;
}

.quiz__card_2 {
    margin-bottom: 24px;
}


.quiz__card_3 .card-body {
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 65px;
}

.parameters-porfolio {
    width: 300px;
}

.parameters-porfolio .quiz__heading {
    margin-bottom: 30px;
}

.field:focus {
    border-color: #3285D2;
}

.parameters-porfolio .field-row {
    margin: 0;
}

.parameters-porfolio .field-row:last-child {
    margin-top: 20px;
}

.quiz__card_3 .quiz__main {
    width: 100%;
}

.risk {
    margin-top: 40px;
}


.ui-widget.ui-widget-content {
    border: 0;
}

.slider__line {
    height: 2px;
    background: #A5C9EB;
    border-radius: 2px;
}

.ui-slider-range {
    height: 2px;
    background: #0068FC;
    border-radius: 2px;
}

.ui-slider .slider__btn {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: white;
    border: 2px solid #0068FC;
    top: -6px;
    cursor: pointer;
}


.ui-slider .slider__btn:focus {
    outline: 0;
}

.risk__slider {
    margin-top: 20px;

}

.field_small {
    width: 85px;
    height: 25px;
}

.slider__wrap {
    width: 288px;
}

.quiz__inner {
    display: flex;
    align-items: flex-start;
}

.quiz__right {
    width: 289px;
    margin-left: 19px;
}

.quiz__left {
    width: 455px;
}

.quiz__subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 10px;
}

.quiz__right .quiz__text {
    width: 100%;
}


.quiz__link {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: #3285D2;
}

.invest-priority {
    margin-top: 20px;
}

.volatility {
    margin-top: 40px;
}

.focus-potfolio {
    margin-top: 40px;
}

.slider-tooltip {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: white;
    background-image: url('../img/tooltip.png');
    background-size: cover;
    width: 21px;
    height: 24.5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz__card_4 .quiz__main {
    width: 100%;
}


.quiz__warning {
    font-size: 10px;
    line-height: 12px;
    color: rgba(44, 59, 99, 0.3);
    margin-top: 7px;
}

.quiz__warning svg {
    margin-right: 5px;
}

.quiz__card_4 .field-row label {
    margin-bottom: 0;
    margin-left: 10px;
}

.quiz__card_4 .quiz__inner {
    margin-top: 16px;
}

.quiz__card_4 .quiz__right {
    margin-top: -35px;
    width: 380px;
}

.quiz__card_4 .quiz__left {
    width: 400px;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

.remove-sectors {
    margin-top: 15px;
}

.remove-sectors .quiz__heading {
    margin-bottom: 15px;
}

.sectors-list {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
}

.sector input[type="checkbox"] {
    display: none;
}



.sector label {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    background: #F1F3FC;
    border-radius: 2px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.sector input[type="checkbox"]:checked+label {
    background: #e2e5ef;
}

.securities {
    margin-top: 10px;
}


.selectize-input {
    display: flex;
    align-items: center;
    width: 455px;
}

.selectize-input.focus {
    border-color: #3285D2;
    box-shadow: none;
}

.selectize-control.multi .selectize-input>div {
    margin-bottom: 0;
    height: 24px;
    background: #3285D2;
    color: #2E364A;
    font-weight: 500;
    padding: 5px 14px !important;
}

.selectize-input a {
    color: white !important;
    border: 0 !important;
    padding: 0 !important;
    margin-left: 8px !important;
    font-size: 16px !important;
    line-height: 1 !important;
}

.selectize-input a:hover {
    background: none !important;
}

.selectize-dropdown-content {
    padding: 0;
    background: #232427 !important;
}

.selectize-dropdown {
    width: 156px !important;
    box-shadow: none !important;
    border-radius: 3px;
    border: 0 !important;
    background: #232427 !important;
}

.etf {
    margin-top: 15px;
}

.etf .quiz__warning {
    margin-bottom: 20px;
}

.etf .quiz__heading {
    margin-bottom: 0;
}

.quiz__card_4 {
    margin-bottom: 117px;
}

.quiz__card_4 .card-body {
    padding: 20px 18px 39px 30px;
}


.quiz__card_5 .quiz__right .quiz__title {
    margin-bottom: 10px;
}

.hidden-text {
    font-size: 10px;
    line-height: 150%;
    color: #2E364A;

    opacity: 0.7;
}

.quiz__card_5 .card-body {
    padding: 30px 18px 58px 30px;
    justify-content: flex-start !important;
}

.quiz__card_5 {
    margin-bottom: 127px;
}


.quiz__card_5 .radio-block__hidden {
    padding: 20px 20px 25px;
    display: block !important;
}

.quiz__card_6 .quiz__main {
    width: 100%;
}

.quiz__complete {
    width: 178px;
    background: #0068FC;
    color: white;
    padding: 0;
}

.info-block {
    width: 567px;
    border: 2px solid #F4F4F6;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

.info-block:last-child {
    margin-bottom: 0;
}

.info-block__title {
    color: #3285D2;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.info-block__header {
    padding: 15px;
}

.step-change {
    background: none;
    border: 0;
    padding: 0;
}

.info-block__row {
    padding: 14px 15px;
    border-top: 2px solid #F4F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-block__left {
    width: 277px;
}

.info-block__right {
    width: 261px;
}

.quiz__card_6 .card-body {
    padding-top: 30px;
    padding-bottom: 58px;
    padding-left: 74px;
}


.quiz__card_6 .card-header {
    padding-left: 74px;
}

.quiz__card_6 {
    margin-bottom: 16px;
}

.quiz__card,
.complete-step {
    display: none;
}

.quiz__card_1 {
    display: block;
}

.quiz-steps__item.closed {
    color: #3285D2;
}

.quiz-steps__item.closed .quiz-steps__icon {
    background: #3285D2;
}

.quiz-steps__item.closed .quiz-steps__number {
    display: none;
}


.quiz-steps__item.closed .complete-step {
    display: block;
}

.next-forth {
    position: fixed;
    right: 0;
    top: 150px;
}


.go-last {
    cursor: pointer;
}


.req {
    border: 2px solid #e04959 !important;
}

.req-text {
    color: #e04959;
}

.req-text path:first-child {
    fill: #e04959;
}